$header_color: #ff6f61;
//$dark_color: #104f58;
$dark_color: #306f78;
$footer_color: #23272a;
//$banner_color: #137480;
$banner_color: #e0eeee;


$header_height: 100px;

$myBanner_height: 350px;
$myBanner_width: 1650px;

$theirBanner_height: 200px;
$theirBanner_width: 1000px;
