/* basic color */

$header_color: #039BE5;
$dark_color: #2196F3;
$footer_color: #161e34;
$banner_color: #abbffb;
$banner_flame: #2dc2e6;
$window_flame: #002858;
$pulldown_color: #97fff1;

$n_banner_color: #abbffb;
$n_banner_flame: #202f5a;
$n_window_flame: #3f4c7c;

$g_banner_color: #d5beff;
$g_banner_flame: #3f3453;
$g_window_flame: #3f2c63;

$su_banner_color: #bcfffa;
$su_banner_flame: #0e4646;
$su_window_flame: #0e4644;

$si_banner_color: #c7ffc7;
$si_banner_flame: #007c74;
$si_window_flame: #1c5652;

//$g_banner_color: #c7ffc7;
//$g_banner_flame: #007c74;
//$g_window_flame: #1c5652;

$header_height: 100px;
$logo_sentence_color: #e0ffff;

/* --- */

/* around myBanner */

$banner_width: 80%;
$banner_height: 280px;

$icon_width: 130px;
$icon_height: $icon_width;

$achievement_width: 47px;
$achievement_height: 29px;
$root_twelve: 13.5516911px;
$a_half_width: 23.47px;

$user_width: 70%;
$user_height: 70px;

$deshi_width: $user_width*0.275;
$deshi_height: 50px;

$id_width: 55%;
$id_height: 30px;

$profile_width: 100%;
$profile_height: 130px;

$su_user_width: 70%;
$su_user_height: 40px;
$su_pass_width: 45%;
$su_pass_height: 30px;

/* --- */

/* around normalBanner */

$n_banner_width: 65%;
$n_banner_height: 192.5px;

$n_icon_width: 89.375px;
$n_icon_height: $n_icon_width;


$n_achievement_width: 32.3125px;
$n_achievement_height: 15.8125px;
$n_root_twelve: 9.3278px;
$n_a_half_width: 16.15625px;

$n_user_height: 54.375px;

$n_id_height: 20.625px;

$n_profile_height: 83.75px;

 /* --- */

 /* menubuttons */

 $button_width: 80px;
 $button_height: 80px;

 /* --- */

 /* around direct message page */

 $theme_color_dm: #ddddff;
 $dm_icon_width: 90px;
 $dm_banner_color: #ccc;
 $dm_banner_color_hover : #e5e5e5;

 /* --- */

 /* aruond notification page */

 $not_banner_color: #d5d5d5;
 $not_banner_flane: #222;

 $not_banner_width: 100%;
 $not_banner_height: 140px;

 /* --- */
