$header_color: #394e8c;
$dark_color: #687bb3;
$footer_color: #161e34;
$banner_color: #abbffb;
$banner_flame: #202f5a;
$pulldown_color: #97fff1;

$header_height: 100px;

/*$header_color: #ff6f61;
$dark_color: #104f58;
$footer_color: #23272a;
$banner_color: #137480;*/

$banner_width: 80%;

$icon_width: 130px;
$icon_height: $icon_width;

$achievement_width: 47px;
$achievement_height: 29px;
$root_twelve: 13.5516911px;
$a_half_width: 23.47px;

$user_width: 70%;
$user_height: 50px;

$id_width: 55%;
$id_height: 30px;

$profile_width: 100%;
$profile_height: 100px;
